---

- name: Install tasks
  become: true
  tags:
    - ufw_install
    - ufw
  block:
    - name: Manage install packages
      ansible.builtin.apt:
        name: "{{ ufw_package_name }}"
        state: "{{ ufw_package_ensure }}"
        update_cache: true
