---

- name: Setup tasks
  become: true
  tags:
    - ufw_setup
    - ufw
  block:
    - name: Manage ufw empty purge
      when: ufw_policy_empty_purge | default(false) | bool
      ansible.builtin.shell: ufw --force reset
      args:
        executable: /bin/bash
      changed_when: '"Firewall stopped" in ufw_emptypurge_results.stdout'
      register: ufw_emptypurge_results

    - name: Check ufw status
      ansible.builtin.shell: set -o pipefail && ufw status | grep 'Status' | awk '{print $2}'
      args:
        executable: /bin/bash
      changed_when: false
      register: ufw_status_results

    - name: Enable ufw status
      when:
        - ufw_status | default(false) | bool
        - '"inactive" in ufw_status_results.stdout'
      ansible.builtin.shell: ufw --force enable
      args:
        executable: /bin/bash
      changed_when: true

    - name: Disable ufw status
      when:
        - ufw_status is defined
        - not ufw_status | bool
        - '"active" in ufw_status_results.stdout'
      ansible.builtin.shell: ufw --force disable
      args:
        executable: /bin/bash
      changed_when: true

    - name: Manage ufw logging level
      when:
        - ufw_logging_level is defined
        - ufw_logging_level in ['off', 'low', 'medium', 'high', 'full']
      ansible.builtin.lineinfile:
        path: /etc/ufw/ufw.conf
        regexp: '^LOGLEVEL='
        line: "LOGLEVEL={{ ufw_logging_level }}"
